@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(../font/Roboto-LightItalic.ttf) format('truetype');
}
* {
    font-family: 'Roboto', sans-serif
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1,h2,h3,h4,p,a,li{
    line-height: 1.3em;
    color:#F9FAF8;
}

.pageHeader{
    background-color: #1F2937;
}
.flex-display{
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
}

.item-list{
    display: flex;
}

.item-list li{
    padding: 20px;
    list-style: none
}
.dark-bck{
    background-color: #1F2937;

    padding: 46px;

}

.first-article{
    width: 37%;
    padding-left: 128px;
}
.img-section{
    width: 36%;
}
.first-section img {
   height: 250px
}
.first-article button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5em;
    font-weight: bold;
}
.sec-title{
    color:#1F2937;
    font-size: 35px;
    text-align: center;
}
.second-section img{
    width: 120px;
    height: 120px;
}
.photo-placeholder{
    display: flex;
    justify-content: center;
}
.photo-placeholder p{
    color:#1F2937;

    
}
.photos{
    margin: 1em;
    width: 10%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.third-section{
    background-color: #E5E7EB;
    padding: 100px
}
.third-section blockquote{
    font-family: 'RobotoLightItalic',sans-serif;
    font-weight: 300;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.forth-section{
    color: #E5E7EB;
    padding: 2em;
    margin: 2% 20%;
    background-color: #3882F6;
    border-radius: 0.5em;
    padding: 1em 2em;
    justify-content: space-evenly;
}
.desc{
    width: 68%
}
.last-button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5em;
    font-weight: bold;
}
#footer{
    background-color: #1f2937;
    margin-top: 88px;
    padding: 20px;
}
#footer p{
    color: #F9FAF8;
    text-align: center;
}
/* section{
    padding: 2% 20%
} */